<%- include('partials/_header')%>
<section id="navegacionmod">
    <ul>
        <h1>
            <li>
                <a href="/pantallaEncargado">
                <img src="/images/v.svg" alt="logo">
                </a>
            </li>
            <li>
                <a href="/pantallaEncargado">
                    Vialidolid<br>denuncias ciudadanas
                </a>
            </li>
        </h1>
        <div class="botonesmod">
            <li>
                <a href="/pantallaPerfilEncargado/<%=session.id_encargado%>">Perfil</a>
            </li>
            <li>
                <a href="/pantallaMenuPrincipal">Cerrar Sesion</a>
            </li>
        </div>

    </ul>
</section>


<section id="contenidogeneral">
    <article>
        <div class="barralateral">
        <div class="botoneslateral">
     <h1>
        <span>
            <img src="/images/imagenperfil.svg">
            <p>Usuario: <%=session.usuario%></p>
            <p>Rol: <%=session.cargo%></p>
        </span>
    </h1>

        <a href="/pantallaReportesRevisadosEncargado?dependencia=<%=session.dependencia%>">
            Reportes Solucionados
        </a>

        <a href="/pantallaReportesEntrantesEncargado?dependencia=<%=session.dependencia%>">
            Reportes entrantes
        </a>
        <!-- <a href="/pantallaDescargarReportesEncargado?dependencia=<%=session.dependencia%>">
            Descargar reportes
        </a> -->
    </div>
    </div>
    <section class="contenedorderecho">
        <div class="contenido">
            <container class="contenedorentEnc">

                    <div id="descEnc">
                        <%data.forEach(function(data) {%>
                        <div class="wrapperEnc">
                            <div>
                                <img src="/images/v.svg" height="100px" width="100px">
                            </div>
                            <div>
                                <h3>ID empleado</h3>
                                <p><%=data.id_encargado%></p>
                            </div>
                            <div>
                                <h3>Cargo</h3>
                                <p>Encargado</p>
                            </div>
                            <div>
                                <h3>Nombre</h3>
                                <p><%=data.nombre%></p>
                            </div>
                            <div>
                                <h3>Apellidos</h3>
                                <p><%=data.apellido_paterno+' '+data.apellido_materno%></p>
                            </div>
                            <div>
                                <h3>Usuario</h3>
                                <p><%=data.usuario%></p>
                            </div>
                            <div>
                                <h3>Contraseña</h3>
                                <p><%=data.contrasena%></p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </container>
        </div>
    </section>
    
    </article>
</section>



<%- include('partials/_footer')%>