<%- include('partials/_header') %>

<nav class="navbar">
    <div class="logo">
        <a href="/index">
            <img src="images/v1.png" alt="Logotipo">
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="#">Realizar reporte</a></li>
        <li><a href="#">Revisar reportes</a></li>
        <li><a href="#">Perfil</a></li>
        <li><a href="contact.php">Contacto</a></li>


    </ul>

</nav>


<div class="containermenu">

    <section id="hero" class="barralateral">
        <div class="center">
            <button class="button" id="usermod">
                <div><img src="images/ubicacion.png" width=18px, height="25px" class="logo-button"
                        alt="Logo-button"></div>
                <span class="text-button">Usuario:<br>Rol:</span>

            </button>
            <button class="btn" id="mod" onclick="location.href='/vusuarios'">Usuarios</button>
            <button class="btn" id="mod" onclick="location.href='/vreportes'">Reportes</button>
            <button class="btn" id="mod" onclick="location.href='/mensajes'">Mensajes</button>
        </div>

    </section>

    <section id="mapa" class="map">
        <main>
            <div class="helpe">
                REPORTES
            </div>
            <div class="helper2">

                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Penalizaciones</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%each tasks%>
                        <tr>
                            <td><%=id_ciudadano%></td>
                            <td><%=nombre%></td>
                            <td><%=apellido_paterno%></td>
                            <td><%=n_penalizaciones%></td>
                            <td>
                                <button class="btn" id="mod" onclick="location.href='/edit/<%=id_reporte%>'">Penalizar</button>
                            </td>
                        </tr>
                        <%/each%>
                    </tbody>
                </table>

            </div>
        </main>
    </section>
</div>




<%- include('partials/_footer')%>